@import '~bootstrap/scss/bootstrap';

$blue: #00f;

$red: #f00;
$black: #000;
$fadedblack: rgba(0, 0, 0, .75);
$white: #fff;
$green: #0f0;
$big-border: 10px solid $black;
$small-border: 2px solid $black;

body {
  font-family: 'Nanum Gothic', sans-serif;
}

legend {
  font-size: 20px;
}

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 150px;
  height: 500px;
  margin: 0 auto;
  width: 500px;
}

.board-message {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 50px;
  margin: 20px;
  min-height: 50px;
  text-align: center;
}

div > .row > div  {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 33.3%;
}

div {
  &.div0 {
    border-bottom: $big-border;
    border-right: $big-border;
  }

  &.div1 {
    border-bottom: $big-border;
    border-right: $big-border;
  }

  &.div2 {
    border-bottom: $big-border;
  }

  &.div3 {
    border-bottom: $big-border;
    border-right: $big-border;
  }

  &.div4 {
    border-bottom: $big-border;
    border-right: $big-border;
  }

  &.div5 {
    border-bottom: $big-border;
  }

  &.div6 {
    border-right: $big-border;
  }

  &.div7 {
    border-right: $big-border;
  }

  &.load-div0 {
    border-bottom: $small-border;
    border-right: $small-border;
  }

  &.load-div1 {
    border-bottom: $small-border;
    border-right: $small-border;
  }

  &.load-div2 {
    border-bottom: $small-border;
  }

  &.load-div3 {
    border-bottom: $small-border;
    border-right: $small-border;
  }

  &.load-div4 {
    border-bottom: $small-border;
    border-right: $small-border;
  }

  &.load-div5 {
    border-bottom: $small-border;
  }

  &.load-div6 {
    border-right: $small-border;
  }

  &.load-div7 {
    border-right: $small-border;
  }

  &.signview {
    display: flex;
    justify-content: center;
  }
}

fieldset {
  display: flex;
}

.game-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  margin: 0 auto;
  width: 800px;
}

legend {
  margin: 20px 0;
}

form {
}

.green {
  color: $green;
}

header {
  background-color: $black;

  > div {
    align-items: center;
    color: $white;
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100px;
    height: 250px;
    justify-content: center;
    margin: 0 auto;
    width: 750px;
  }
}

input {
  &.submit {
    margin: 10px 0;
  }
}

.invisible {
  // height: 0;
  // max-width: 0;
  // min-width: 0;
  // visibility: none;
  // width: 0;
  display: none;
}

.load-board {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Brush Script', cursive;
  height: 100px;
  margin: 20px;
  width: 100px;
}

.load-message {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  justify-content: space-around;
  margin: 20px;
}

nav {
  background-color: $fadedblack;
  color: $white;
  font-family: 'Nanum Gothic', sans-serif;

  > ul {
    align-items: center;
    height: 50px;
    justify-content: space-around;
    width: 50%;
  }

  ul > li {
    list-style: none;
  }

  a {
    color: $white;

    &:hover {
      color: $red;
    }
  }
}

.header-o {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 180px;
}

.header-x {
  display: float;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 120px;
  left: -463px;
  position: relative;
  top: -38px;
}

.modal-x {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 40px;
}

.o-color {
  color: $blue;
}

.red {
  color: $red;
}

.row {
  display: flex;
  height: 33%;
  width: 100%;
}

scan {
  &.switch-to-sign-in {
    color: $blue;
    text-decoration: underline;
  }

  &.switch-to-sign-up {
    color: $blue;
    text-decoration: underline;
  }
}

.x-color {
  color: $red;
}
