@import '~bootstrap/scss/bootstrap';

$blue: #00f;
$red: #f00;
$black: #000;
$fadedblack: rgba(0, 0, 0, .75);
$white: #fff;

body {
}

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 200px;
  height: 500px;
  margin: 0 auto;
  width: 500px;
}

div > .row > div  {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 33.3%;
}

div {
  &.div0 {
    border-bottom: 10px solid $black;
    border-right: 10px solid $black;
  }

  &.div1 {
    border-bottom: 10px solid $black;
    border-right: 10px solid $black;
  }

  &.div2 {
    border-bottom: 10px solid $black;
  }

  &.div3 {
    border-bottom: 10px solid $black;
    border-right: 10px solid $black;
  }

  &.div4 {
    border-bottom: 10px solid $black;
    border-right: 10px solid $black;
  }

  &.div5 {
    border-bottom: 10px solid $black;
  }

  &.div6 {
    border-right: 10px solid $black;
  }

  &.div7 {
    border-right: 10px solid $black;
  }
}


header {
  background-color: $black;
}

header > div {
  align-items: center;
  color: $white;
  display: flex;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 100px;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  width: 750px;
}

main {
  margin-top: 100px;
}

nav {
  background-color: $fadedblack;
  color: $white;
  display: flex;
  flex-direction: row;
  font-family: 'Nanum Gothic', sans-serif;
}

nav > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav > ul > li {
  list-style: none;
}

.header-o {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 180px;
}

.header-x {
  display: float;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 120px;
  left: -463px;
  position: relative;
  top: -38px;
}

.o-color {
  color: $blue;
}

.row {
  display: flex;
  height: 33%;
  width: 100%;
}

.x-color {
  color: $red;
}
